<div class="table-container">
  <table mat-table [dataSource]="dataSource">
    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef>{{getColumnTitle(column)}}</th>
        <td mat-cell *matCellDef="let element" [innerHTML]="element[column]"></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row class="table-row" *matRowDef="let row; columns: displayedColumns;" (click)="onRowClick(row)"></tr>
  </table>
</div>
<div id="chartContainer"></div>
<!-- <div #summaryContainer></div> -->

<mat-paginator [length]="totalPages*pageSize" [pageIndex]="currentPage - 1" [pageSize]="pageSize"
  (page)="onPageChange($event)">
</mat-paginator>